*{
    box-sizing: border-box;
    
  }

body{
    display: flexbox;
    background-color:rgb(228, 228, 224);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
   
}
a{
    color: rgb(0, 102, 102);
}

#main{
    display:flex;
    flex-direction: column;
}
.container{
    display:flex; 
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-around;
    
}
.userData{
    display:flex;
    flex-direction: column;
    background-color:rgb(0, 102, 102);
    color:white;
    width:300px;
    height: 400px;
    align-items: center;
 }

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
   }
.hideMe{
    display:none;

}
 .navigation{
    display:flex;
    justify-content: center;
    background-color: orange;
    color:white;
    width:300px;
    height: 50px;
 }
  
  
 
  
  
  